.card{
    border:5px solid navy;
    border-radius: 15px;
    /* border-style: dotted; */
    background-color: lightblue;
    text_align: center;
    padding: 10px 20px 30px;
    width: 300px;
    height: 200px;
}