body{
    text-align: center;
}
.card{
    max-width: 100%;
    width: 550px;
    border: 4px solid rgb(151, 9, 9);
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    background-color: burlywood

}
    .swiper {
        border: 5px solid rgb(165, 109, 5);
        height: 250px;
        width: 450px;
        border-radius: 10px;
        margin-bottom: 20px;

    }

    
.box{
    background-color: yellow;
    border-style: dashed;
    border-color: 7px solid rgb(228, 149, 59);
    padding: 20px;
    margin-bottom: auto;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    overflow: scroll;
    
}