.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: rgba(204, 123, 197, 0.911);
    padding: 15px;
    gap: 3px;
    border-radius: 20px;
    text-align: center;
    width: 390px;
    border: 5px solid rgba(218, 60, 157, 0.699);
}
.bingo{
    border: 1px solid rgb(233, 156, 14, 0.699);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: thistle;
    border-radius: 20px;
    background-color: rgb(12, 117, 209);
    width: 50px;
}
.bingo:hover{
    background-color:      rgb(63, 207, 159);
    flex: 2;
    transform: scale(1.5);
}
.grid-item1{
    grid-column: 1/ span 5;
    font-weight: bold;
    font-size: 60px;
    color: rgba(223, 156, 14, 0.699);
    text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}