:root { 
    --grid-column: 3;
    --grid-gap: 3;
    --color: rgb(218, 60, 157);
    --color-secondary: rgba(204, 123, 197, 0.9110);
    --color-primary: rgb(12, 117, 209);

}





.container {
    display: grid;
    grid-template-columns: repeat(var(--columns,), 1fr);
    gap: var(--grid-gap);
    background-color: var(--color-secondary);
    padding: 20px;
}

.container > div {
    background-color: var(--color-secondary);
    border: 2px solid var(--color);
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    border:5px solid var(--color);
}



.grid-item1 {
    grid-column: 1 / span 3;
    
}
.grid-item2 {
    grid-column: 1;
    grid-row: 2 / span 2;
    
    
}.grid-item5 {
    grid-column: 2 / span 2;
}